.Diff {
  text-align: left;
  width: 100%;
}

.EmptyLine {
  height: 1lh;
  width: 100%;
}

.Caret {
  position: absolute;
  background-color: #00e980;
  height: calc(1lh - 4px);
  width: 1px;
}

.Word {
  position: relative;
}

.Word.Skipped {
  text-decoration: 1px underline #b94da1;
  text-underline-offset: 0.2em;
}

.Letter.Untyped {
  color: #245c69;
}

.Letter.Correct {
  color: #00e980;
}

.Letter.Wrong {
  color: #b94da1;
}

.Letter.Extra {
  color: #9b3a76;
}
