.Diff {
  position: relative;
  text-align: left;
}

.Caret {
  position: absolute;
  background-color: #00e980;
  height: calc(1lh - 4px);
  width: 1px;
}

.Line {
  white-space: pre;
}

.Word {
  white-space: pre;
}

.Word.Skipped {
  text-decoration: underline #b94da1;
}

.Letter {
  white-space: pre;
  font-family: 'JetBrains Mono', monospace;
}

.Letter.Normal {
  color: #245c69;
}

.Letter.Correct {
  color: #00e980;
}

.Letter.Wrong {
  color: #b94da1;
}

.Letter.Extra {
  color: #9b3a76;
}

.Letter.Skipped {
  color: #245c69;
}
