.Notifications {
  position: fixed;
  bottom: 0;
  right: 0;

  margin: 0 10px;

  display: flex;
  flex-direction: column;
}

.UnstyledButton {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
}

.Notification {
  font-family: "JetBrains Mono";
  text-align: start;

  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;

  border: solid 3px;
  border-radius: 15px;
}

.Notification .IconAndTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.Notification .Title {
  margin-left: 10px;
}

.Notification.Success {
  border-color: var(--on-success-container);
  color: var(--on-success-container);
  background-color: var(--success-container);
}

.Notification.Info {
  border-color: var(--on-info-container);
  color: var(--on-info-container);
  background-color: var(--info-container);
}

.Notification.Warning {
  border-color: var(--on-warning-container);
  color: var(--on-warning-container);
  background-color: var(--warning-container);
}

.Notification.Error {
  border-color: var(--on-error-container);
  color: var(--on-error-container);
  background-color: var(--error-container);
}

.Notification * {
  margin: 0px;
}
