@use "color";
@use "sizing";

@font-face {
  font-family: "JetBrains Mono";
  src: url("../static/JetBrainsMonoNerdFontMono-Regular.ttf") format("truetype");
}

body {
  font-family: "JetBrains Mono";
  font-size: sizing.$font-size;
  background-color: color.$background-color;
  color: color.$primary;
}
