@use "color";
@use "spacing";

.Footer {
    position: absolute;
    bottom: 0;

    padding: spacing.$padding;
    display: flex;
    flex-direction: row;

    .Help {
        display: flex;
        flex-direction: row;

        .Desc {
            color: color.$primary-disabled;
            padding-left: calc(spacing.$padding / 2);
        }
    }

    .Separator {
        color: color.$primary-disabled;
        padding: 0em calc(spacing.$padding / 2);
    }
}
